@{
    ViewData["Title"] = "About";
}
<h2>This is restaurant web app built for demonstration purposes</h2>
<h4>Web app is showcasing Restaurant bot (using Direct Line) that is hosted on Azure</h4>
<br/>

<br/>
<p>Contact information:</p>
<address>
    <strong>FER mail:</strong> <a href="mailto:karlo.ceh@fer.hr">karlo.ceh@fer.hr</a><br/>
    <strong>Gmail:</strong> <a href="mailto:karlo.ceh1@gmail.com">karlo.ceh1@gmail.com</a><br />
</address>

<p>Copyright&#169;  Karlo Čeh, 2018.</p>