<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
</head>
<body>
<div id="bot"/>
<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
<script>
    BotChat.App({
        directLine: { secret: "n_-LyKB8gsU.cwA.yLQ.Qch2-xlevKVbhCo23CJ7g1gIeSieDB4fqc404TA5yJY"},
        user: { id: 'userid' },
        bot: { id: 'botid' },
        resize: 'detect'
    }, document.getElementById("bot"));
</script>
</body>
</html>