<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
</head>
<body>
    <div id="bot" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>
    <script>
    var speechOptions = {
        speechRecognizer: new CognitiveServices.SpeechRecognizer(
            { subscriptionKey: '2dea45fd95d445e1a16e5972e85885a0' }),

        speechSynthesizer: new CognitiveServices.SpeechSynthesizer(
            {
                subscriptionKey: '2dea45fd95d445e1a16e5972e85885a0',
                gender: CognitiveServices.SynthesisGender.Female,
                voiceName: 'Microsoft Server Speech Text to Speech Voice (en-US, JessaRUS)'
            })
    }

    var botConnection = new BotChat.DirectLine({
        secret: "n_-LyKB8gsU.cwA.yLQ.Qch2-xlevKVbhCo23CJ7g1gIeSieDB4fqc404TA5yJY",
        webSocket: true,
    });


    BotChat.App({
            speechOptions: speechOptions,
            botConnection: botConnection,
            //directLine: {
            //    secret: "n_-LyKB8gsU.cwA.yLQ.Qch2-xlevKVbhCo23CJ7g1gIeSieDB4fqc404TA5yJY",
            //},
            user: {
                id: 'userid',
                name: 'User',
            },
            bot: { id: 'botid' },
            resize: 'detect'
        },
        document.getElementById("bot"));

    botConnection.activity$
        .filter(function(activity) {
            return activity.type === 'event' && activity.name === 'changeBackgroundColor';
        })
        .subscribe(function(activity) {
            changeBackgroundColor(activity.value);
        });

    function changeBackgroundColor(newColor) {
        document.getElementsByClassName('wc-message-groups')[0].style.backgroundColor = newColor;
    }

    function postButtonMessage(color) {
        botConnection
            .postActivity({
                from: { id: 'me' },
                name: 'changeBackgroundColor',
                type: 'event',
                value: color
            })
            .subscribe(function(id) {
                console.log('"changeBackgroundColor" sent');
            });
    };
    </script>
</body>
</html>